<ion-view view-title="landing">
    <ion-content class="landing">
      <img class="landing-logo" src="/img/everyday-retina.png" />
      <!-- <div class="landing-desc">
        An Everyday Productions Application
      </div> -->
      <button class="login-fb">
        <div class="btn-logo">
          <img id="fb" src="/img/FB-f-Logo__white_50.png" />
        </div>
        <div id="fb-text" class="login-txt">Connect with Facebook</div>
      </button>
      <button class="login-tw">
        <div class="btn-logo">
          <img src="/img/TwitterLogo_white.png" />
        </div>
        <div class="login-txt">Sign in with Twitter</div>
      <button class="login-btn">
        Log in
      </button>
      <button class="login-btn">
        Sign up
      </button>
    </ion-content>
</ion-view>
